<div class="container content row">
  <div class="container col-sm-8">
    <h2>Gestión de Usuarios</h2>
    <p>Agregar, Modificar y Eleminiar Usuarios:</p>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="usr">Nombre:</label>
        <input type="text" class="form-control" id="usr" name="nombre" [(ngModel)]="usuario.nombre">
      </div>
      <div class="form-group">
        <label for="pwd">Clave:</label>
        <input type="password" class="form-control" id="pwd" name="clave" [(ngModel)]="usuario.clave">
      </div>
      <div class="form-group">
        <label for="pwd">Corre:</label>
        <input type="text" class="form-control" id="email" name="correo" [(ngModel)]="usuario.correo">
      </div>
      <div class="form-group">
        <select class="custom-select custom-select-sm mb-3" name="activo" [(ngModel)]="usuario.activo">
            <option value="" selected=true disabled>SELECCIONE UN ESTATUS</option>
            <option value="{{est.id}}" *ngFor="let est of estatus">{{est.descripcion}}</option>
        </select>
       </div>
      <div class="form-group">
        <select class="custom-select custom-select-sm mb-3" name="lista" [(ngModel)]="usuario.roles[0].id"  (ngModelChange)="selectRol($event)">
            <option value=0 selected=true disabled=true>SELECCIONE UN ROL</option>
            <option value="{{rol.id}}" *ngFor="let rol of lista">{{rol.descripcion}}</option>
        </select>
       </div>
      <button type="submit" class="btn btn-primary btn-block py-2" (click)="AgregarUsuario()" *ngIf="!habilitarbotonEdit">Agregar</button>
      <button type="submit" class="btn btn-primary btn-block py-2" (click)="EditarUsuario()" *ngIf="habilitarbotonEdit">Actualizar</button>
      <button type="submit" class="btn btn-danger btn-block py-2" (click)="Cancelar()">Cancelar</button>
    </form>
  </div>
  <div class="container col-sm-4">
    <h2>Lista de Usuarios</h2>
    <p>Modificación y Eliminación de Usuarios:</p>            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Activo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaUsuario" (click)="EditUser(item)">
          <td>{{item.id}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.correo}}</td>
          <td>{{item.activo}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>

