<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first py-2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmYb3dpVtXqiFYKuG2D8cW0uordXbeTBnyGg&usqp=CAU" id="icon" alt="User Icon" style="width: 100px; height: 100px" />
      </div>
  
      <!-- Login Form -->
      <form id="accesspanel" action="login" method="post">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="user name email" [(ngModel)]="username">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" [(ngModel)]="password">
        <input type="submit" class="fadeIn fourth" value="Log In" name="Login" id="go" (click)="doLogin()">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
      
    </div>
  </div>
